/*CSS RESETS*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,ffffff+35,ffffff+65,1e5799+100 */
background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(30,87,153,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 65%, rgba(30,87,153,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(30,87,153,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,1) 65%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(30,87,153,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,1) 65%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 */

font-family: 'Cormorant Garamond', serif;

}

div.wrapper {
	width: 960px;
	margin: 0 auto;
}

/*HEADER*/
header{
	width: 960px;
	height: 200px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#111213+0,242526+100 */
	background: rgb(17,18,19); /* Old browsers */
	background: -moz-linear-gradient(45deg,  #161616 0%, rgba(36,37,38,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #161616 0%,rgba(36,37,38,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #161616 0%,rgba(36,37,38,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111213', endColorstr='#242526',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#logo {
	margin-top: 25px;
	float: left;
}
/*SEARCHBAR*/
form#searchform {
	margin: 20px 0px;
	text-align: right;
}

#search {
    padding-left: 30px;
    border-radius: 5px;
    border: none;
    width: 125px;
    height: 20px;
    font-size: 12px;
    
}
#search-label {
    position: relative;
}
#search-label:before {
    color: #666;
    content:"\f002";
    font-family: FontAwesome;
    position: absolute;
    top: 2px;
    left: 5px;
}

/*OVER SLIDER*/
div#top_head {
	float: left;
}

/*NAVIGATION*/
nav {
	float: right;
}

nav ul li {
	display: inline;
	margin-left: 15px;
}

nav ul li a{
	font-size: 10pt;
	text-decoration: none;
	color: white;
	font-family: "Times New Roman", Georgia, Serif;
	cursor: pointer;
}

nav ul li a:hover{
	text-decoration: underline;
}


/*SLIDER*/
div.banner{
	height: 460px;
}

div.banner ul li img{
	margin-top: 20px;
	vertical-align: middle;
}

/*UNDER SLIDER*/
div#bottom_head{
	height: 150px;
	background-color: #111213;
	color: #9d9d9d;
}

div#bottom_head div#qoute{
	width: 650px;
	height: 150px;
	padding: 30px;
	background-color: #111213;
	float: left;

}

div#bottom_head div#qoute h1 {
	font-size: 28px;
}

div.social {
	width: 310px;	
	height: 150px;
	float: left;
	background-color: #111213;
	text-align: center;
	line-height: 150px;
}

div.social div.circle {
	width: 50px;
	height: 50px;
	background-color: #313133;
	border-radius: 25px;
	display: inline-block;
	text-align: center;
	line-height: 65px;
}

div.social div.circle a{
	color: #b9b7b5;
}

/*MAIN indhold*/

main {
	width: 710px;
	height: 650px;
	background-color: #ffffff;
	float: left;
}

article {
	background-color: white;
	width: 100%;
	height: 200px;
	padding: 30px;
}

article .article_pic {
	border: 5px solid #e9e9e9;
	float: left;
	margin-right: 15px;
}

article h1{
	font-weight: normal;
}

article .postdato {
	color: #9fc0d5;
}

article p {
	margin-bottom: 10px;
}

section#about,
section#events,
section#nordic,
section#results,
section#other,
section#contact{
	padding: 30px;
}

/*READ MORE BOTTON*/
article a {
	text-align: center;
	margin-bottom: 20px;
	width: 150px;
	height: 25px;
	border-radius: 5px;
	text-decoration: none;
	color:white;
	-webkit-box-shadow: 1px solid #45809e;
	 box-shadow: 1px solid #45809e;
	/*BUTTON GRADIENT*/
    border:1px solid #368fbd;-webkit-box-shadow: #B4B5B5 1px 1px 1px  ;-moz-box-shadow: #B4B5B5 1px 1px 1px ; box-shadow: #B4B5B5 1px 1px 1px  ; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 5px 5px 5px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
    background-color: #6eb3d6; background-image: -webkit-gradient(linear, left top, left bottom, from(#6eb3d6), to(#45809E));
    background-image: -webkit-linear-gradient(top, #6eb3d6, #45809E);
    background-image: -moz-linear-gradient(top, #6eb3d6, #45809E);
    background-image: -ms-linear-gradient(top, #6eb3d6, #45809E);
    background-image: -o-linear-gradient(top, #6eb3d6, #45809E);
    background-image: linear-gradient(to bottom, #6eb3d6, #45809E);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#6eb3d6, endColorstr=#45809E);
}
article a:hover {
	/*READ MORE HOVER*/
	border:1px solid #2c7499;
    background-color: #3792c1; background-image: -webkit-gradient(linear, left top, left bottom, from(#3792c1), to(#35637b));
    background-image: -webkit-linear-gradient(top, #3792c1, #35637b);
    background-image: -moz-linear-gradient(top, #3792c1, #35637b);
    background-image: -ms-linear-gradient(top, #3792c1, #35637b);
    background-image: -o-linear-gradient(top, #3792c1, #35637b);
    background-image: linear-gradient(to bottom, #3792c1, #35637b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3792c1, endColorstr=#35637b);
}
/*SIDEBAR*/
aside {
	width: 250px;
	min-height: 650px;
	background-color: #ebebeb;
	float: left;
	padding: 25px;
	background-color: white;

	/*Gradient*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e7e7e7+0,ffffff+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e7e7e7+0,ffffff+100 */
background: rgb(231,231,231); /* Old browsers */
background: -moz-linear-gradient(-40deg, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-40deg, rgba(231,231,231,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(165deg, rgba(231,231,231,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
aside div.infobox {
	margin-bottom: 30px;
}

aside div.infobox h2{
	margin-bottom: 10px;
	margin-bottom: 30px;
}

/*PAGINATION*/
#pagination{
	width: 960px;
	clear:both;
	background-color: white;
	padding-left: 30px;
}

div#pagination div.numberbox{
	display: inline-block;
	background-color: #eeeeee;
	padding: 3px 10px;
	font-family: arial;
	font-size: 12px;
	color: #9a9da7;
	margin-right: 3px;
	cursor: pointer;
}

div#pagination div#highlight {
	background-color: #c1c1c1;
	color: white;
}

/*SPONSERS*/
#sponsers{
	width: 960px;
	height: 420px;
	clear:both;
	background-color: white;
	padding: 30px;
	text-align: center;
}

#sponsers .box{
	border: 1px solid #f5f5f5;
	display: inline-block;
}

#sponsers .box img{
	border: 5px solid #f5f5f5;
}

/*FOOTER*/
footer{
	clear: both;
	width: 960px;
	height: 395px;
	background-color: #0e0e0e;
	margin-bottom: 50px;
    -webkit-box-shadow: 0 4px 4px -2px #000000;
   -moz-box-shadow: 0 4px 4px -2px #000000;
        box-shadow: 0 4px 4px -2px #000000;
}
footer p {
	font-size: 13pt;
}

.parabreak {
	margin-bottom: 20px;
}

footer h2 {
	margin-bottom: 15px;
	font-size: 22px;
}

footer p,
footer h2{
color: #575656;
}


div#left,
div#middel,
div#right{
	padding: 25px 0px 0px 30px;
}



footer div#left{
	width: 370px;
	height: 400px;
	float: left;
	
}

footer div#left p q{
	color: #9d9d9d;
}

footer div#middel{
	width: 270px;
	height: 395px;
	float: left;
}
footer div#right{
	width: 320px;
	height: 395px;
	float: left;
}

footer div#right div#footer_social{
	background-color: #0e0e0e;
	width: 290px;
	padding-right: 25px;

}